<?xml version="1.0"?>
<!-- 
/**
 * @category   Manu
 * @package    Manu_Video
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Manu_Video>
            <version>0.1.0</version>
        </Manu_Video>
    </modules>
    <frontend>
        <routers>
            <video>
                <use>standard</use>
                <args>
                    <module>Manu_Video</module>
                    <frontName>video</frontName>
                </args>
            </video>
        </routers>
        <layout>
            <updates>
                <video>
                    <file>video.xml</file>
                </video>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<video>
				<use>admin</use>
				<args>
					<module>Manu_Video</module>
					<frontName>video</frontName>
				</args>
			</video>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<video module="video">
				<title>Video</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="video">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>video/adminhtml_video</action>
					</items>
				</children>
			</video>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Manu_Video>
							<title>Video Module</title>
							<sort_order>10</sort_order>
						</Manu_Video>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<video>
					<file>video.xml</file>
				</video>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <video>
                <class>Manu_Video_Model</class>
                <resourceModel>video_mysql4</resourceModel>
            </video>
            <video_mysql4>
                <class>Manu_Video_Model_Mysql4</class>
                <entities>
                    <video>
                        <table>video</table>
                    </video>
                </entities>
            </video_mysql4>
        </models>
        <resources>
            <video_setup>
                <setup>
                    <module>Manu_Video</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </video_setup>
            <video_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </video_write>
            <video_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </video_read>
        </resources>
        <blocks>
            <video>
                <class>Manu_Video_Block</class>
            </video>
        </blocks>
        <helpers>
            <video>
                <class>Manu_Video_Helper</class>
            </video>
        </helpers>
    </global>
</config>